<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scrapy Scrapes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/style.css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="header col-md-10 offset-md-1" id="banner">
                <img src="/assets/image/globalrise.jpg" "mx-auto" id="logo">
            </div>
        </div>
        {{{body}}}

    
</div>



<footer class="footer">
        <p> รง AO</p>
                
</footer>
</div>
</body>
</html>